.container {
    font-family:arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content:center;
    flex-direction: column;
}
.doodle {
    display:block;
    margin-right: auto;
    margin-left: auto;
}

.doodle:hover {
    box-shadow: 0 0 10px #ccc;
}

a {
    color:black;
}

a:hover { 
    background-color:palevioletred;
}

a:visited {
    color:black;
}

.header {
    font-size: 1em;
    color: black;
    padding: 4px;
    display: flex;
    align-content:center;
    align-items:center;
    width:100%;
}
.header-item {
    flex:0;
    vertical-align: middle;
    margin-right: 30px;
    vertical-align: middle;
    text-decoration:none;
}
.flex-item:first-child {
    margin-left:4px;
}

.settingsbutton {
    flex:1;
    vertical-align:middle;
    text-align:right;
    text-decoration:none;
    margin-right: 30px;
    padding-left: 20px;
}

.settingsbutton:hover {
    background-color: palevioletrede;
}

.footer {
    background-color: rgba(211, 211, 211, 0.959);
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 4px;
    width: 100%;
}

.whitespace {
    padding: 85px;
}

.align-left {
    text-align: left;
    padding-right: 4px;
}

.align-right {
    text-align: right;
}

.black {
    color:black;
    padding: 7px;
}

.search {
    display: flex;
}

.form {
    text-align:left;
    color:black; 
    width: 400px;
    height: 30px;
    outline-color: rgb(126, 117, 117);
    box-shadow: 5px 5px 5px grey;
    outline-style: solid;
    outline-width:2px;
    font-size: 1em;
}

.searchbuttons {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.gobutton {
    margin-top: 15px;
    outline: 2px solid grey;
    background:lightgray;
}

