.doodle {
    display:block;
    margin-right: auto;
    margin-left: auto;
}
a {
    margin-right: 30px;
    color:lightgrey;
    vertical-align: middle;
}


.header {
    background-color:black;
    font-size: 1em;
    color: white;
    padding: 3px;
    vertical-align:top;
}

.settingsbutton {
    position: absolute;
    right:20px;
    top:10px;
}

.footer {
    vertical-align: bottom;
    background-color: grey;

}

.black {
    color:black;
}

.whitespace {
    padding: 85px;
}

.align-left {
    display:inline-block;
    width: 49%;
    vertical-align: middle;
}

.align-right {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: middle;
}



